a:hover{
    color:green;
    font-weight:bold;

}
button{
    color:blue;
    font-size:50px;
    border:5px solid
}
.flex{
    display:flex;
    justify-content:space-around;

}
img{
    width:20%;
    height:50%;
}
.art{

}